<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/game.css">
    <title>Game Phase</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="numbers">
            <% for (let i = 0; i < 10; i++) { %>
                <div><%= i %></div>
            <% } %>
        </div>
        <div class="letters">
            <% for (let letter of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']) { %>
                <div><%= letter %></div>
            <% } %>
        </div>
        <div class="board" name="opponent-board">
            <h2>Opponent's Board</h2>
            <% for (let i = 0; i < 10; i++) { %>
                <% for (let j = 0; j < 10; j++) { %>
                    <div data-row="<%= i %>" data-col="<%= j %>"></div>
                <% } %>
            <% } %>
        </div>

        <div class="info">
            <h3>Ships sinked</h3>
            <ul id="ship-list"></ul>
        </div>
    </div>
    <div class="container">
        <h2>Your Board</h2>
        <div class="numbers">
            <% for (let i = 0; i < 10; i++) { %>
                <div><%= i %></div>
            <% } %>
        </div>
        <div class="letters">
            <% for (let letter of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']) { %>
                <div><%= letter %></div>
            <% } %>
        </div>
        <div class="board" name="your-board">
            <% for (let i = 0; i < 10; i++) { %>
                <% for (let j = 0; j < 10; j++) { %>
                    <div data-row="<%= i %>" data-col="<%= j %>"></div>
                <% } %>
            <% } %>
        </div>
    </div>
    <script src="/js/API.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/actions.js"></script>
    <script>
        let ShipList = document.getElementById('ship-list');
        let Cells = document.querySelectorAll('[name=opponent-board] div');
        let Cells2 = document.querySelectorAll('[name=your-board] div');
        let ShipsOpponentSinked = [];
        let move = [];

        const urlParams = new URLSearchParams(window.location.search);
        const Player = urlParams.get('player');
        let Id;
        let GameState;
        let OpponentBoard;
        let YourBoard;

        const fullUrl = window.location.href;
        const urlParts = fullUrl.split('/');
        const gameIndex = urlParts.indexOf('game');
        if (gameIndex !== -1 && urlParts[gameIndex + 1]) {
            Id = urlParts[gameIndex + 1].split('?')[0];
        }

        async function refreshGameState() {
            GameState = await actions.gameState(Id);
            OpponentBoard = GameState.players[Player].boards["opponent"].board;
            YourBoard = {...GameState}.players[Player].boards["self"].board;
            OpponentBoard.forEach((row, i) => {
                row.forEach((field, j) => {
                    const cell = document.querySelector(`[data-row='${i}'][data-col='${j}']`);
                    if (field === '0') {
                        cell.classList.add('miss');
                    } else if (field !== '1') {
                        cell.classList.add('ship');
                    }
                })
            })
        }

        function shipListRefresh() {
            ShipList.innerHTML = "";
            for (let ship of new Set(ShipsOpponentSinked)) {
                let li = document.createElement("li")
                let span = document.createElement("span")
                span.innerHTML = `${ShipsOpponentSinked.filter(s => s === ship).length} x `
                let img = document.createElement("img")
                img.height = 24
                img.widht = 24
                img.src = "https://img.icons8.com/ios/50/rounded-square.png"
                img.alt = "rounded-square"
                li.appendChild(span.cloneNode(true))
                for (let i=0; i < ship; i++) {
                    li.appendChild(img.cloneNode(true))
                }
                ShipList.appendChild(li)
            }
        }

        shipListRefresh();
        refreshGameState();

        Cells.forEach(field => field.addEventListener('click', () => {
            const [ row, col ] = [field.attributes['data-row'].value, field.attributes['data-col'].value];
            move = [ row, col ];
            actions.makeMove(Player, Id, { move });
            refreshGameState();
        }))

    </script>
</body>
</html>