<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/game.css">
    <title>Game Phase</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="numbers">
            <% for (let i = 0; i < 10; i++) { %>
                <div><%= i %></div>
            <% } %>
        </div>
        <div class="letters">
            <% for (let letter of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']) { %>
                <div><%= letter %></div>
            <% } %>
        </div>
        <div class="board" name="opponent-board">
            <h2 id="opponent-name"></h2>
            <% for (let i = 0; i < 10; i++) { %>
                <% for (let j = 0; j < 10; j++) { %>
                    <div data-row="<%= i %>" data-col="<%= j %>"></div>
                <% } %>
            <% } %>
        </div>

        <div class="info">
            <h3>Ships sinked</h3>
            <ul id="ship-list"></ul>
        </div>
    </div>
    <div class="messages-box">
        <h3>Messages</h3>
        <ul id="messages"></ul>
    </div>
    <div class="container">
        <h2>Your Board</h2>
        <div class="numbers">
            <% for (let i = 0; i < 10; i++) { %>
                <div><%= i %></div>
            <% } %>
        </div>
        <div class="letters">
            <% for (let letter of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']) { %>
                <div><%= letter %></div>
            <% } %>
        </div>
        <div class="board" name="your-board">
            <% for (let i = 0; i < 10; i++) { %>
                <% for (let j = 0; j < 10; j++) { %>
                    <div data-row2="<%= i %>" data-col2="<%= j %>"></div>
                <% } %>
            <% } %>
        </div>
    </div>
    <script src="/js/API.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/actions.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <script>
        let ShipList = document.getElementById('ship-list');
        let Cells = document.querySelectorAll('[name=opponent-board] div');
        let Cells2 = document.querySelectorAll('[name=your-board] div');
        let Messages = document.getElementById('messages');
        let OpponentName = document.getElementById('opponent-name');
        let ShipsOpponentSinked = [];
        let move = [];
        let hitShip;

        const urlParams = new URLSearchParams(window.location.search);
        const Player = "<%- player %>";
        let Id;
        let GameState;
        let OpponentBoard;
        let YourBoard;
        let OpponentShips;
        let YourShips;

        const fullUrl = window.location.href;
        const urlParts = fullUrl.split('/');
        const gameIndex = urlParts.indexOf('game');
        if (gameIndex !== -1 && urlParts[gameIndex + 1]) {
            Id = urlParts[gameIndex + 1].split('?')[0];
        }

        function getOpponent(game, player) {
            let opponent = Object.keys(game.players).filter(name => name !== player)[0]
            return opponent;
        }

        async function refreshGameState() {
            GameState = await actions.gameState(Id).then(data => data);
            OpponentName.innerHTML = `${getOpponent(GameState, Player)}'s Board`;
            OpponentBoard = GameState.players[Player].boards["opponent"].board;
            YourBoard = GameState.players[Player].boards["self"].board;
            OpponentShips = GameState.players[Player].boards["opponent"].ships;
            YourShips = GameState.players[Player].boards["self"].ships;

            let hitParts = [];

            for (let ship of YourShips) {
                for (let part of ship.parts) {
                    if (part.hit) {
                        hitParts.push(part.position)
                    }
                }
            }

            OpponentBoard.forEach((row, i) => {
                row.forEach((field, j) => {
                    const cell = document.querySelector(`[data-row='${i}'][data-col='${j}']`);
                    if (field === '0') {
                        cell.classList.add('miss');
                    } else if (field !== '1') {
                        cell.classList.add('ship');
                    }
                })
            })

            YourBoard.forEach((row, i) => {
                row.forEach((field, j) => {
                    const cell = document.querySelector(`[data-row2='${i}'][data-col2='${j}']`);
                    if (field === '0') {
                        cell.classList.add('miss');
                    } else if (field !== '1') {
                        for (let part of hitParts) {
                            if (part[0] === String(i) && part[1] === String(j)) {
                                cell.classList.add('hit');
                                break;
                            }
                        }
                        cell.classList.add('ship');
                    } else {
                        cell.classList.add('disabled');
                    }
                })
            })
        }

        function shipListRefresh() {
            ShipList.innerHTML = "";
            for (let ship of new Set(ShipsOpponentSinked)) {
                let li = document.createElement("li")
                let span = document.createElement("span")
                span.innerHTML = `${ShipsOpponentSinked.filter(s => s === ship).length} x `
                let img = document.createElement("img")
                img.height = 24
                img.widht = 24
                img.src = "https://img.icons8.com/ios/50/rounded-square.png"
                img.alt = "rounded-square"
                li.appendChild(span.cloneNode(true))
                for (let i=0; i < ship; i++) {
                    li.appendChild(img.cloneNode(true))
                }
                ShipList.appendChild(li)
            }
        }

        shipListRefresh();
        refreshGameState();

        Cells.forEach(field => field.addEventListener('click', async () => {
            const [ row, col ] = [field.attributes['data-row'].value, field.attributes['data-col'].value];
            move = [ row, col ];
            await actions.makeMove(Player, Id, { move });
            await refreshGameState();
            socket.emit('move', { player: Player, move, gameId: Id }, () => {
                if (ifHit(move) && ifSink()) {
                    ShipsOpponentSinked.push(hitShip.size)
                    socket.emit('sink', { gameId: Id, player: Player, shipsSinked: ShipsOpponentSinked })
                    shipListRefresh();
                } else if (ifHit(move)) {
                    socket.emit('hit', { gameId: Id })
                } else {
                    OpponentBoard.forEach((row, i) => {
                        row.forEach((field, j) => {
                            const cell = document.querySelector(`[data-row='${i}'][data-col='${j}']`);
                            if (field === '1') {
                                cell.classList.add('disabled');
                            }
                        })
                    })
                    socket.emit('miss', { gameId: Id })
                }
            });
            
            ifWinner();
        }))

        function ifHit(move) {
            for (let ship of OpponentShips) {
                if (ship.parts.some(part => part.position[0] === move[0] && part.position[1] === move[1])) {
                    hitShip = {...ship}
                    return true
                }
            }
            return false
        }

        function ifSink() {
            return hitShip.sink
        }

        function ifWinner() {
            if (GameState.winner) {
                socket.emit('winner', { gameId: Id, winner: GameState.winner })
            }
        }

        function newMessage(message) {
            const isScrolledToBottom = Messages.scrollHeight - Messages.clientHeight <= Messages.scrollTop + 1
            let el = document.createElement('li');
            el.innerText = message;

            Messages.appendChild(el);
            
            if (isScrolledToBottom) {
                Messages.scrollTop = Messages.scrollHeight - Messages.clientHeight
            }
        }

        async function startGame() {
            socket.emit('start game', { player: Player, gameId: Id }, (previousMoves, shipsSinked) => {
                ShipsOpponentSinked = shipsSinked
                Messages.innerHTML = ''
                previousMoves.forEach((move) => {
                    newMessage(move)
                });
                shipListRefresh()
            });
        }

        socket.on('message', message => {
            newMessage(message);
            refreshGameState();
        })

        socket.on('your turn', () => {
            OpponentBoard.forEach((row, i) => {
                row.forEach((field, j) => {
                    const cell = document.querySelector(`[data-row='${i}'][data-col='${j}']`);
                    if (field === '1') {
                        cell.classList.remove('disabled');
                    }
                })
            })
        })

        socket.on('win', winner => {
            alert(`${winner} wins!`)
            document.location.href = '/game';
        })

        startGame()
    </script>
</body>
</html>